<section class="profile">
  <div class="profile__image-wrapper">
    {# <img class="profile__image" src="/images/republic.svg" alt="Roman Republican Coin"> #}
    {% EleventyImage "/images/coin.png", "Roman Republican Coin", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
    <p class="profile__text">The <span class="profile__text--highlight">dupondius</span> (Latin two-pounder) was a brass coin used during the Roman Republic and Roman Empire valued at 2 asses (4/5 of a sestertius or 1/5 of a denarius during the Republic and 1/2 of a sestertius or 1/8 of a denarius during the time of Augustus).</p>
    <p class="profile__text">The dupondius was introduced during the <span class="profile__text--highlight">Roman Republic</span> as a large bronze cast coin, although even at introduction it weighed less than 2 Roman pounds (librae).</p>
    <p class="profile__text">The initial coins featured the bust of <span class="profile__text--highlight">Roma</span> on the obverse and a six-spoked wheel on the reverse.<p>
    <p class="profile__text">A loaf of bread or a sextarius (c. 0.5 L) of wine cost roughly one dupondius at the height of the Roman Empire, though due to the debasement of the denarius over the following century, the dupondius was discarded.</p>
  </div>
</section>