---
title: "Dupondius Games"
layout: "base.njk"
---

<h2 class="games__heading">Games in Development</h2>
<div class="game-list">
  {% for game in collections.games %}
    {% include "game-card.njk" %}
  {% endfor %}
</div>