---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# {{ metadata.title }}

> {{ metadata.description }}

## Pages

{%- for page in collections.pages %}
{%- if not page.data.llms_exclude and not page.data.eleventyExcludeFromCollections %}
- [{{ page.data.title }}]({{ build.url }}{{ page.url }}): {{ page.data.description }}
{%- endif %}
{%- endfor %}

## Games

{%- for game in collections.games %}
{%- if not game.data.llms_exclude %}
- [{{ game.data.title }}]({{ build.url }}{{ post.url }}): {{ game.data.description }}
{%- endif %}
{%- endfor %}
